{% extends "layout.html" %}
{% load static %}
{% load qr_code %}

{% block body %}
    {% if not user.is_authenticated %}
        <h2>Welcome to SupAuthenticator! Please log-in to discover our great features !</h2>
    {% endif %}

    {% if user.is_authenticated %}
        <div id="mfaApp">
            <div class="col-lg-12 " align="center">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <button class="btn btn-lg btn-primary btn-sx" type="button"
                                onclick="location.href={% url 'generator' %}">Inititialize
                        </button>
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <button class="btn btn-lg btn-primary btn-sx" type="button">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/vue.min.js' %}"></script>
    {% if user.is_authenticated %}
        <!--<script src="{% static 'js/app.js' %}"></script>-->
    {% endif %}
{% endblock %}